@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: red;
    width: 15vw;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 20px 0;
}

.main{
    background-color: darkcyan;
    width: 90vw;
}

.container{
    display: flex;
}